<div class="hero-unit">
<h1>Listing users</h1>
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<% @users.each do |user| %>
<div class="well">
  <%= user.name %>
  <span class="pull-right">
    <%= link_to 'Edit', edit_user_path(user) %>
    <%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %>
  </span>
</div>
<% end %>
<%= link_to 'New User', new_user_path %>
</div>
