<%= form_for @post, :html => {:class => 'well'} do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, html_options = {:class => "span4", :placeholder => 'Enter post title'} %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, html_options = {:class => "span6", :placeholder => 'Write post.'} %>
  </div>
  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags, html_option = {:class => 'span4'}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
