<% @category.posts.each do |post| %>
  <div class="hero-unit">
    <div class="post">
      <div class="post-head">
        <h1><%= link_to post.title, post %></h1>
        <span class="pull-left">
          <i class="icon-time"></i>
          <%= post.post_time.strftime('%Y-%m-%d') %>&nbsp;&nbsp;&nbsp;
          <i class="icon-tags"></i>
          <%= post.tags %>&nbsp;&nbsp;&nbsp;
          <i class="icon-comment"></i>
          <%= post.comments.count %> comments
        </span>
        <br />
      </div>

      <div class="lead">
        <%= raw markdown(post.content) %>
      </div>
    </div>
  </div>
<% end %>
