<!DOCTYPE html>
<html>
<head>
  <title>XsezinaCom</title>
  <%= stylesheet_link_tag '../bootstrap/css/bootstrap.css'%>
  <%= stylesheet_link_tag '../bootstrap/css/bootstrap-responsive.css'%>
  <%= stylesheet_link_tag '../bootstrap/css/docs.css'%>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag '../bootstrap/js/bootstrap.js'%>
  <%= javascript_include_tag '../bootstrap/js/bootstrap-collapse.js' %>
  <%= javascript_include_tag '../bootstrap/js/application.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'xSezina.com', '/', html_options = {:class => "brand"} %>
        <div class="nav-collapse collapse" style="height: 0px;">
          <ul class="nav">
            <li class=""><%= link_to 'Home', '/' %></li>
            <li class="divider-vertical"></li>
            <li class=""><%= link_to 'About', :controller => 'about', :action => 'index' %></li>
            <% if session[:user_id] %>
              <li class="divider-vertical"></li>
              <li><%= link_to 'Admin', admin_path %></li>
            <% end %>
          </ul>
          <form class="navbar-search pull-right" action="">
            <input class="search-query span2" type="text" placeholder="Search" />
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span7">
        <%= yield %>
      </div>
      <div class="span3">
        <div class="hero-unit">
          aaa
          <div class="divider-horizontal"></div>
        </div>
        <div class="hero-unit">
          <h1>Friends</h1>
          <ul>
            <% Friend.all.each do |friend| %>
              <li>
                <%= link_to friend.name, friend.url %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <span>
        Powered by Rails3.0.7 &amp; Bootstrap 2.04
      </span>
      <br />
      <span>
        Copyright &copy; sezina.
      </span>
    </div>
  </div>
</body>
</html>
