<!DOCTYPE html>
<html>
<head>
  <title>xSezina.com</title>
  <%= stylesheet_link_tag '../bootstrap/css/bootstrap.css'%>
  <%= stylesheet_link_tag '../bootstrap/css/bootstrap-responsive.css'%>
  <%= stylesheet_link_tag '../bootstrap/css/docs.css'%>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery-1.7.2.min.js'%>
  <%= javascript_include_tag '../bootstrap/js/bootstrap.min.js'%>
  <%= javascript_include_tag '../bootstrap/js/bootstrap-collapse.js' %>
  <%= javascript_include_tag '../bootstrap/js/bootstrap-dropdown.js'%> 
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'effects.js' %>
  <%= javascript_include_tag 'controls.js' %>
  <%= javascript_include_tag 'rails.js'%>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag '../bootstrap/js/application.js'%>
  <%= javascript_include_tag '../bootstrap/js/bootstrap-dropdown.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to 'xSezina.com', '/', html_options = {:class => "brand"} %>
        <div class="nav-collapse collapse" style="height: 0px;">
          <ul class="nav">
            <li class=""><%= link_to 'Home', '/' %></li>
            <li class="divider-vertical"></li>
            <li class=""><%= link_to 'About', :controller => 'about', :action => 'index' %></li>
            <% if session[:user_id] %>
              <li class="divider-vertical"></li>
              <li class="dropdown">
                <%= link_to 'Admin', '#', 
                  html_options = {:class => 'dropdown-toggle', 
                    "data-toggle" => "dropdown"
                    } %>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Posts List', posts_path %></li>
                  <li><%= link_to 'New Post', new_post_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Categories List', categories_path %></li>
                  <li><%= link_to 'New Category', new_category_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Friends List', friends_path %></li>
                  <li><%= link_to 'New Friend', new_friend_path %></li>
                  <li class="divider"></li>
                  <li><%= link_to 'Logout', logout_path, :method => :delete %></li>
                </ul>
              </li>
            <% end %>
          </ul>
          <%= form_tag search_index_path, :method => :get, :class => 'navbar-search pull-right' do %>
            <%= text_field_tag :search, params[:search], :class => 'span2', :placeholder => "search" %>
            <%= submit_tag "Search", :name => nil, :style => 'display: none;' %>
          <% end %>
          <!--
          <form class="navbar-search pull-right" action="http://www.google.com/search">
            <input type="hidden" name="as_sitesearch" value="xsezina.com" />
            <input class="search-query span2" type="text" name="as_q" placeholder="Search" />
            <button type="submit" class="btn" style="display: none;">Search</button>
          </form>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="span7">
        <%= yield %>
      </div>
      <div class="span3">
        <div class="hero-unit">
          <h2>Categories</h2>
          <ul>
            <% Category.all.each do |category| %>
              <li>
                <%= link_to category.title, category %>
                <span>
                  (<%= category.posts.count %>)
                </span>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="hero-unit">
          <h2>Friends</h2>
          <ul>
            <% Friend.all.each do |friend| %>
              <li>
                <%= link_to friend.name, friend.url %>
              </li>
            <% end %>
            <li>
              <%= link_to'sezina的知识库', 'http://blog.csdn.net/sezinaZero' %>
              曾经用过的博客，里面仅有两篇有关Arch Linux安装的文章。
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="footer">
      <span>
        Powered by Rails3.0.7 &amp; Bootstrap 2.0.4
      </span>
      <br />
      <span>
        Copyright&copy;2012~ sezina.
      </span>
    </div>
  </div>
</body>
</html>
